/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* ==========================================================================
   CUSTOM
   ========================================================================== */
.card .card-content .card-title.content-title{
  line-height: normal;
  font-size: 20px;
}


.upvote:hover > i{
  color: green;
}

.downvote:hover > i{
  color: red;
}

.vote{
  background-color:white;
  border-color:gray;
  border:5px;
}
.vote > i{
  color:grey;
}

.parallax-container.parallax-thin{
  min-height:0;
}

.card-background{
  width:100%;
  float:left;
  padding-right:4%;
  background-color: transparent;
  transition:background-color 0.25s;
  border-radius:2px;
}

.cat-live:hover{
  background-color: #f50057;
  transition:background-color 0.25s;

}

.review-bg:hover{
  background-color: rgb(240, 95, 64);
  transition:background-color 0.25s;
}

.review-bg{
  padding-right: 0;
}


#sidenav{
  width:250px;
  border-right-color:white;
  border-right-width:5px;
  border-right-style:solid;
  z-index:500;
  transition: width 0.5s;
}

#viewport{
  padding-left:250px;
  padding-top:64px;
}

#artistContent{
  display:none;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #607d8b;
  outline:0px;
}

.side-nav a {
  color: #444;
  display: block;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;

}

#sidenav-header{
  height:250px;

}

#sidenav-header img{
  height:250px;
  object-fit: cover;
}


#top-nav{
  position:fixed;
  z-index:50;
  padding-left:250px;
}

.parallax-overlay-pink{
  background-color: rgba(197,17,98,0.5);
}

#topNavContent{
height:100%;
  padding-left:5%;
  padding-right:5%;
}

.ratingWrapper{
  padding-left: 15px;
}

.rating-btn{
  border:0;
  background-color:transparent;
  font-size:13px;
}

button:focus {
  background-color: transparent;
  color:#ff6d00;
}

button:hover {
  background-color: transparent;
  color: #ff4b00;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ff9800;
}

.modal-yt{
  width:612px;
}

.pad-right{
  padding-right:5px;
}

#songAlbumArtistFloat{
  position:absolute;
  top:140px;
  width:250px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:rgba(0,0,0,0.34);
}

#topNavText{
  text-transform: uppercase;
}

#songAlbumArtistContent{
  position:relative;
  padding-left:10px;
}

#navLinksRow *{color:white;}

.ratings{
  padding-top:7.5px;
  width:24px;
  display:none;
}
.rating{
  font-size:23px;
}

.content-card .review-card{
  padding-right:0 !important;
}

.collapsible{
  border:none;
  box-shadow:none;
}

.collapsible-body{
  border-bottom-color:#37474F;
}
.collapsible-header{
  background-color: transparent;
  border:none;
}

.card-header-custom{
  border: solid 2px #ff5722;
  margin-left: 2% !important;;
  margin-right: 2%;
}

.divider-custom{
  margin-left: 2% !important;;
  margin-right: 2%;
  background: rgb(55, 71, 79) !important;
  height: 1px;
  overflow: hidden;
}

.reviewRatingWrapper{
  padding-left:1.5%;
}

.smaller{
  font-size:11px;
}


.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  background-color: #263238;
  color: #ff5722;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.media-icon:before{
  font-size:100px !important;
  padding-right:20px;
}

a{
  color:white;
  transition:color 0.25s;
}
a.active:hover{
  color: #ff3508;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition:color 0.25s;
}

a.disabled{
  color: #9e9e9e;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events:none;
}

.imvdb-embed h3{
  font-size:15px;
}
.imvdb-embed{
  max-width:480px;
  margin-bottom: 0 !important;
}
.modal-imvdb{
  width:500px;
}
.modal{
  max-height: 86%;
}

.similarArtist{
  display:inline-block;
}

